In [1]:
import re

In [2]:
# Descrição informal da gramática
# O símbolo inicial é <program>
# Não inclui whitespaces

grammar01 = """

<program> = <variable> <constants>? <functions>? <expression> 

<name> = <letter>(<alphanumeric_>)+
<variable> = variable <name>
<constants> = constants <name> (, <name>)*
<functions> = functions <name> (, <name>)*

<decimal> = <alphanumeric>+(\.<alphanumeric>+)
<expression> = <decimal> | <name> | <expression> (+|-|*) <expression> | (<expression>) | <expression>'

"""

In [51]:
example01 = """

variable x
constants A, B, C
functions f
expression: (A + x + f)'

"""

example02 = """

variable t
constants k
functions x, y
expression: k*(x + y)*(x - y)

"""

example03 = """

variable t
constants k
functions x, y
expression: (x + t)*x + 2*t

"""

example04 = """

variable t2
constants A
functions x, y, z
expression: (x+Ay)*(x^2-A-z+t2)'

"""

In [52]:
example = example04

In [53]:
# Obs: name = [a-zA-Z][a-zA-Z0-9]*
header_regex = r'''\s*variable\s([a-zA-Z][a-zA-Z0-9]*)
(?:\s*constants\s+([a-zA-Z][a-zA-Z0-9]*(?:\s*,\s*[a-zA-Z][a-zA-Z0-9]*)*))?
(?:\s*functions\s+([a-zA-Z][a-zA-Z0-9]*(?:\s*,\s*[a-zA-Z][a-zA-Z0-9]*)*))?(.+)'''

m = re.match(header_regex,example,re.S)
variable, constants, functions, expression = m.groups()

In [54]:
print(variable)
print(constants)
print(functions)
print(variable)

t2
A
x, y, z
t2